.header_container {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    padding: 5px 15px;
}

.nav-list {
    display: flex;
    gap: 10px;
    text-decoration: none;
    list-style: none;
}

#home {
    max-width: 500px;
}

.img {
    height: 400px;
    width: 400px;
}
.img-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}